<!DOCTYPE html>
    <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <title>AngularJS - Activity 2</title>
</head>
<body>
    <!--<div ng-app ng-init="value1=10; value2=15">
        <p>The total of value 1 and value 2: {{value1 + value2}}</p>-->

        <!-- <div ng-app ng-init="Course='BSIT'; YearLevel='2nd Year'">
            <p>Course  Information:  {{Course + "-" + YearLevel}}</p>

        </div> -->

        <!-- <div ng-app>
            <label>Value 1:</label>
            <input type="number" ng-model="val1">
            <label>Value 2:</label>
            <input type="number" ng-model="val2">
            <p>Total is: {{val1 + val2}}</p>
        </div> -->

        <!-- With Filter -->
        <div ng-app>
            <label>Value 1:</label>
            <input type="number" ng-model="val1">
            <label>Value 2:</label>
            <input type="number" ng-model="val2">
            <p>Total is: {{val1 + val2 | currency:"₱"}}</p>
        </div>



</div>
</body>
</html>